<!DOCTYPE html>
<html>
  <head>
    <title>BlueBird</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user%>
      <script>
        window.currentUser = {
          "id": <%=currentUser.id%>,
          "username": "<%=currentUser.username%>",
          "email": "<%=currentUser.email"
        }
      </script>
    <%end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
